/*
AUTHOR: ROBERTO SOSA CIGARROA
COPYRIGHT: behance.net/rsosa
*/

@theme {
    --color-bs-teal-50: #E5F5F3;
    --color-bs-teal-100: #CCEBE7;

    --color-bs-teal-200: #B2E1DB;

    --color-bs-teal-300: #99D7CF;

    --color-bs-teal-400: #80CDC3;

    --color-bs-teal-500: #66C3B7;

    --color-bs-teal-600: #4DB9AB;

    --color-bs-teal-650: #00BEB0;

    --color-bs-teal-700: #33AF9F;

    --color-bs-teal-800: #1AA593;

    --color-bs-teal-900: #009C8B;

    --color-bs-teal-950: #10766B;

    --color-bs-pink-50: #FBE6EF;

    --color-bs-pink-100: #F8CDE0;

    --color-bs-pink-200: #F4B4D0;

    --color-bs-pink-300: #F19BC0;

    --color-bs-pink-400: #ED82B0;

    --color-bs-pink-500: #EA69A1;

    --color-bs-pink-600: #E65091;

    --color-bs-pink-700: #E33781;

    --color-bs-pink-800: #DF1E71;

    --color-bs-pink-900: #DC0562;

    --color-bs-pink-950: #C91160;

    --color-bs-red-50: #F7E9EA;

    --color-bs-red-100: #EFD2D4;

    --color-bs-red-200: #E8BCBF;

    --color-bs-red-300: #E0A5AA;

    --color-bs-red-400: #D88F94;

    --color-bs-red-500: #D1797F;

    --color-bs-red-600: #C9626A;

    --color-bs-red-700: #C14C54;

    --color-bs-red-800: #B9363F;

    --color-bs-red-900: #B9363F;

    --color-bs-red-950: #87252b;

    --color-bs-black-50: #E9E9E9;

    --color-bs-black-100: #D3D2D2;

    --color-bs-black-200: #BDBCBC;

    --color-bs-black-300: #A7A5A6;

    --color-bs-black-400: #918F90;

    --color-bs-black-500: #7B7979;

    --color-bs-black-600: #656263;

    --color-bs-black-700: #504C4D;

    --color-bs-black-800: #3A3636;

    --color-bs-black-900: #241F20;

    --color-bs-black-950: #1B1A1A;

    --color-bs-beige-50: #FBF9F7;

    --color-bs-beige-100: #F7F3EF;

    --color-bs-beige-200: #F3EDE8;

    --color-bs-beige-300: #EFE7E0;

    --color-bs-beige-400: #EBE0D8;

    --color-bs-beige-500: #E7DAD1;

    --color-bs-beige-600: #E3D4C9;

    --color-bs-beige-700: #DFCEC1;

    --color-bs-beige-800: #DBC8B9;

    --color-bs-beige-900: #D7C2B2;

    --color-bs-beige-950: #BFAC59;

    --color-bs-beige-1000: #AA9950;

    --color-pm-violet-500: #7060A8;

    --color-pm-purple-500: #8D60A6;

    --color-pm-pink-500: #DC0562;

    --color-pm-amber-500: #F2A039;

    --color-pm-lime-500: #7BC255;
}